 <div class="wrapper">
  <div class="left-side">
   <div class="side-wrapper">
    <div class="side-title">
             <% if (user) { %>
              <img
                class="image has-image-centered vert-move mt-4"
                src="https://cdn.discordapp.com/avatars/<%= user.id %>/<%= user.avatar %>"
                alt="hero image"
                style="width: 100px;border-radius:800px;margin-right: auto;margin-left: auto;display: block;"
              />
               <p style="text-align:center;color:white"><%= user.username %>#<%= user.discriminator %></p> 
           <% } else { %>
              <img
                class="image has-image-centered vert-move mt-4"
                src="https://cdn.glitch.global/a73b2e51-4594-43da-b8cc-73749c25705a/download.png?v=1685741416772"
                alt="hero image"
                style="width: 100px;border-radius:800px;margin-right: auto;margin-left: auto;display: block;"
              />   
             <p style="text-align:center;color:white">Unknow#0000</p> 
             <% } %>         
    </div>

          <div class="side-title">GENERAL</div>
    <div class="side-menu">
     <a href="/dashboard/profile">
<svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 576 512" fill="CurrentColor"><path d="M64 32C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H512c35.3 0 64-28.7 64-64V96c0-35.3-28.7-64-64-64H64zm80 256h64c44.2 0 80 35.8 80 80c0 8.8-7.2 16-16 16H80c-8.8 0-16-7.2-16-16c0-44.2 35.8-80 80-80zm-32-96a64 64 0 1 1 128 0 64 64 0 1 1 -128 0zm256-32H496c8.8 0 16 7.2 16 16s-7.2 16-16 16H368c-8.8 0-16-7.2-16-16s7.2-16 16-16zm0 64H496c8.8 0 16 7.2 16 16s-7.2 16-16 16H368c-8.8 0-16-7.2-16-16s7.2-16 16-16zm0 64H496c8.8 0 16 7.2 16 16s-7.2 16-16 16H368c-8.8 0-16-7.2-16-16s7.2-16 16-16z"/></svg>
       Your profile
     </a>
   </div>
  </div>
  </div>