<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="canonical" href="https://stellabot.projects-replit.repl.co/" />
  <meta property="og:title" content="StellaBot" />
  <meta property="og:description" content="Arabic bot, public commands, moderation commands, games commands, modern bot, and more!" />
  <meta property="og:image" content="https://cdn.glitch.global/a73b2e51-4594-43da-b8cc-73749c25705a/stella.png?v=1683473809002"/>
  <meta property="og:color" content="#8a58f9" />
  <script src="https://kit.fontawesome.com/b3a9d94f59.js" crossorigin="anonymous"></script>
  <link rel="https://cdn.glitch.global/a73b2e51-4594-43da-b8cc-73749c25705a/stella.png?v=1683473809002" sizes="76x76" href="./assets/img/apple-icon.png">
  <script src="https://uptime.betterstack.com/widgets/announcement.js" data-id="163720" async="async" type="text/javascript"></script>
  <link rel="icon" href="https://cdn.glitch.global/a73b2e51-4594-43da-b8cc-73749c25705a/stella.png?v=1683473809002">
  <link rel="stylesheet" href="/css/style.css" />
  <script src="/js/scripts.js"></script>
  <title>
    StellaBot - البريموم
  </title>
<body>

<div class="video-bg">
 <video width="320" height="240" autoplay loop muted>
  <source src="https://assets.codepen.io/3364143/7btrrd.mp4" type="video/mp4">
Your browser does not support the video tag.
</video>
</div>
<div class="dark-light">
    <svg viewBox="0 0 24 24" stroke="currentColor" stroke-width="1.5" fill="none" stroke-linecap="round" stroke-linejoin="round">
     <path d="M21 12.79A9 9 0 1111.21 3 7 7 0 0021 12.79z" /></svg>
   </div>
<div class="app">
 <div class="header">
  <div class="menu-circle"></div>
  <div class="header-menu">
   <a class="menu-link" href="/">Home</a>
   <a class="menu-link" href="/commands">Commands</a>
   <a class="menu-link is-active" href="/premium">Premium</a>
  <% if (user) { %>
   
   <% } else { %>
    <a class="menu-link notify" href="/login">Login</a>
     <% } %>
  </div>

  <div class="header-profile">

  <% if (user) { %>
  <a href="/dashboard/profile">
   <img class="profile-img" src="https://cdn.discordapp.com/avatars/<%= user.id %>/<%= user.avatar %>" alt="">
  </a>
    <% } else { %>
  <a href="/login">
   <img class="profile-img" src="https://cdn.glitch.global/a73b2e51-4594-43da-b8cc-73749c25705a/download.png?v=1685741416772" alt="">
  </a>
 <% } %>
      
  </div>
 </div>

<%- include("partials/header") %>

  <div class="main-container">
   <div class="main-header">
    <a class="menu-link-main">> Premium page</a>
   </div>
  
   <div class="content-wrapper">
    <div class="content-section">
     <div class="content-section-title">Premium plans:</div>
     <ul>
      <li class="adobe-product">
       <div class="products">
       Feature
       </div>
       <span class="status" style="width:80px;">
        Premium tire 1
       </span>
       <span class="status" style="width:50px;">
        Premium tire 2
       </span>
        
       <div class="button-wrapper">
       Premium tire 3
       </div>
      </li>
      <li class="adobe-product">
       <div class="products">
        Change prefix
       </div>

       <span class="status" style="width:80px;"><i class="fa-regular fa-check-square"></i></span>
       <span class="status" style="width:50px;">
        <i class="fa-regular fa-check-square"></i></span>
        
       <div class="button-wrapper">
        <i class="fa-regular fa-check-square"></i>
       </div>
      </li>
      <li class="adobe-product">
       <div class="products">
        Change language
       </div>

       <span class="status" style="width:80px;">
        <i class="fa-regular fa-check-square"></i></span>
       <span class="status" style="width:50px;">
        <i class="fa-regular fa-check-square"></i></span>
        
       <div class="button-wrapper">
        <i class="fa-regular fa-check-square"></i>
       </div>
      </li>

      <li class="adobe-product">
       <div class="products">
        Unlock some commands
       </div>

       <span class="status" style="width:80px;">
        <i class="fa-regular fa-check-square"></i></span>
       <span class="status" style="width:50px;">
        <i class="fa-regular fa-check-square"></i></span>
        
       <div class="button-wrapper">
        <i class="fa-regular fa-check-square"></i>
       </div>
      </li>

      <li class="adobe-product">
       <div class="products">
        Can add auto-replys
       </div>

       <span class="status" style="width:80px;">
        <i class="fa-regular fa-square"></i></span>
       <span class="status" style="width:50px;">
        <i class="fa-regular fa-check-square"></i></span>
        
       <div class="button-wrapper">
        <i class="fa-regular fa-check-square"></i>
       </div>
      </li>

      <li class="adobe-product">
       <div class="products">
        Private bot
       </div>

       <span class="status" style="width:80px;">
        <i class="fa-regular fa-square"></i></span>
       <span class="status" style="width:50px;">
        <i class="fa-regular fa-check-square"></i></span>
        
       <div class="button-wrapper">
        <i class="fa-regular fa-check-square"></i>
       </div>
      </li>

      <li class="adobe-product">
       <div class="products">
        Edit bot avatar
       </div>

       <span class="status" style="width:80px;">
        <i class="fa-regular fa-square"></i></span>
       <span class="status" style="width:50px;">
        <i class="fa-regular fa-check-square"></i></span>
        
       <div class="button-wrapper">
        <i class="fa-regular fa-check-square"></i>
       </div>
      </li>

      <li class="adobe-product">
       <div class="products">
        Edit bot profile
       </div>

       <span class="status" style="width:80px;">
        <i class="fa-regular fa-square"></i></span>
       <span class="status" style="width:50px;">
        <i class="fa-regular fa-check-square"></i></span>
        
       <div class="button-wrapper">
        <i class="fa-regular fa-check-square"></i>
       </div>
      </li>    

      <li class="adobe-product">
       <div class="products">
        Premium protection
       </div>

       <span class="status" style="width:80px;">
        <i class="fa-regular fa-square"></i></span>
       <span class="status" style="width:50px;">
        <i class="fa-regular fa-check-square"></i></span>
        
       <div class="button-wrapper">
        <i class="fa-regular fa-check-square"></i>
       </div>
      </li>

      <li class="adobe-product">
       <div class="products">
        Edit bot status (idle, dnd, other)
       </div>

       <span class="status" style="width:80px;">
        <i class="fa-regular fa-square"></i></span>
       <span class="status" style="width:50px;">
        <i class="fa-regular fa-square"></i></span>
        
       <div class="button-wrapper">
        <i class="fa-regular fa-check-square"></i>
       </div>
      </li>
       
      <li class="adobe-product">
       <div class="products">
        Profile in our website
       </div>

       <span class="status" style="width:80px;">
        <i class="fa-regular fa-square"></i></span>
       <span class="status" style="width:50px;">
        <i class="fa-regular fa-square"></i></span>
        
       <div class="button-wrapper">
        <i class="fa-regular fa-check-square"></i>
       </div>
      </li>

      <li class="adobe-product">
       <div class="products">
        Link for your server in website
       </div>

       <span class="status" style="width:80px;">
        <i class="fa-regular fa-square"></i></span>
       <span class="status" style="width:50px;">
        <i class="fa-regular fa-square"></i></span>
        
       <div class="button-wrapper">
        <i class="fa-regular fa-check-square"></i>
       </div>
      </li>

      <li class="adobe-product">
       <div class="products">
        Free ads in the top of website
       </div>

       <span class="status" style="width:80px;">
        <i class="fa-regular fa-square"></i></span>
       <span class="status" style="width:50px;">
        <i class="fa-regular fa-square"></i></span>
        
       <div class="button-wrapper">
        <i class="fa-regular fa-check-square"></i>
       </div>
      </li>       

      <li class="adobe-product">
       <div class="products">
        Add more commands
       </div>

       <span class="status" style="width:80px;">
        <i class="fa-regular fa-square"></i></span>
       <span class="status" style="width:50px;">
        <i class="fa-regular fa-square"></i></span>
        
       <div class="button-wrapper">
        <i class="fa-regular fa-check-square"></i>
       </div>
      </li>

      <li class="adobe-product">
       <div class="products">
        Price
       </div>

       <span class="status" style="width:80px;">
        500,000 €</span>
       <span class="status" style="width:50px;">
        2,100,000 €</span>
        
       <div class="button-wrapper">
        5,000,000 €
       </div>
      </li>
       
     </ul>
    </div>
  </div>
    </div>
 </div>
 <div class="overlay-app"></div>
</div>

<style>
.tab {
  overflow: hidden;
}

.tabcontent {
  display: none;
  animation: fadeEffect 0.8s;
} 


@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}  
</style>  


<script>
$(function () {
 $(".menu-link").click(function () {
  $(".menu-link").removeClass("is-active");
  $(this).addClass("is-active");
 });
});

$(function () {
 $(".main-header-link").click(function () {
  $(".main-header-link").removeClass("is-active");
  $(this).addClass("is-active");
 });
});

const dropdowns = document.querySelectorAll(".dropdown");
dropdowns.forEach((dropdown) => {
 dropdown.addEventListener("click", (e) => {
  e.stopPropagation();
  dropdowns.forEach((c) => c.classList.remove("is-active"));
  dropdown.classList.add("is-active");
 });
});

$(".search-bar input")
 .focus(function () {
  $(".header").addClass("wide");
 })
 .blur(function () {
  $(".header").removeClass("wide");
 });

$(document).click(function (e) {
 var container = $(".status-button");
 var dd = $(".dropdown");
 if (!container.is(e.target) && container.has(e.target).length === 0) {
  dd.removeClass("is-active");
 }
});

$(function () {
 $(".dropdown").on("click", function (e) {
  $(".content-wrapper").addClass("overlay");
  e.stopPropagation();
 });
 $(document).on("click", function (e) {
  if ($(e.target).is(".dropdown") === false) {
   $(".content-wrapper").removeClass("overlay");
  }
 });
});

$(function () {
 $(".status-button:not(.open)").on("click", function (e) {
  $(".overlay-app").addClass("is-active");
 });
 $(".pop-up .close").click(function () {
  $(".overlay-app").removeClass("is-active");
 });
});

$(".status-button:not(.open)").click(function () {
 $(".pop-up").addClass("visible");
});

$(".pop-up .close").click(function () {
 $(".pop-up").removeClass("visible");
});

const toggleButton = document.querySelector('.dark-light');

toggleButton.addEventListener('click', () => {
  document.body.classList.toggle('light-mode');
});

</script>


     <script>
$(function () {
 $(".menu-link").click(function () {
  $(".menu-link").removeClass("is-active");
  $(this).addClass("is-active");
 });
});

$(function () {
 $(".main-header-link").click(function () {
  $(".main-header-link").removeClass("is-active");
  $(this).addClass("is-active");
 });
});

const dropdowns = document.querySelectorAll(".dropdown");
dropdowns.forEach((dropdown) => {
 dropdown.addEventListener("click", (e) => {
  e.stopPropagation();
  dropdowns.forEach((c) => c.classList.remove("is-active"));
  dropdown.classList.add("is-active");
 });
});

$(".search-bar input")
 .focus(function () {
  $(".header").addClass("wide");
 })
 .blur(function () {
  $(".header").removeClass("wide");
 });

$(document).click(function (e) {
 var container = $(".status-button");
 var dd = $(".dropdown");
 if (!container.is(e.target) && container.has(e.target).length === 0) {
  dd.removeClass("is-active");
 }
});

$(function () {
 $(".dropdown").on("click", function (e) {
  $(".content-wrapper").addClass("overlay");
  e.stopPropagation();
 });
 $(document).on("click", function (e) {
  if ($(e.target).is(".dropdown") === false) {
   $(".content-wrapper").removeClass("overlay");
  }
 });
});

$(function () {
 $(".status-button:not(.open)").on("click", function (e) {
  $(".overlay-app").addClass("is-active");
 });
 $(".pop-up .close").click(function () {
  $(".overlay-app").removeClass("is-active");
 });
});

$(".status-button:not(.open)").click(function () {
 $(".pop-up").addClass("visible");
});

$(".pop-up .close").click(function () {
 $(".pop-up").removeClass("visible");
});

const toggleButton = document.querySelector('.dark-light');

toggleButton.addEventListener('click', () => {
  document.body.classList.toggle('light-mode');
});
       
     </script>
  
</body>

</html>
